router.get('/', function(req, res) {
  res.render('index', { weather: null, err: null });
});

router.post('/get_weather', async function (req,res) {
  let city = req.body.city;
  let url = http://api.openweathermap.org/data/2.5/weather?q=London&appid=da02ea13c9b318e538bc6d6100e79dba

  try {
    let data = await fetch(url);
    let weather = await data.json();

const OWM_API_KEY = process.env.OWM_API_KEY || 'invalid_key';

const UNITS = process.env.UNITS || 'metric';